<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <!-- General Settings -->
        <WebPublishMethod>FileSystem</WebPublishMethod>
        <PublishProvider>FileSystem</PublishProvider>
        <ExcludeApp_Data>False</ExcludeApp_Data>
        <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>

        <!-- Target Settings -->
        <publishUrl>C:\Users\Oscar\Desktop\Personal_Projects\Papa\publish\test</publishUrl>
        <!-- Alternate option if you use the IP -->
        <!-- <publishUrl>\\192.168.0.9\C$\SisCon\Api</publishUrl> -->

        <!-- Optional -->
        <DeleteExistingFiles>True</DeleteExistingFiles>

        <!-- Self-contained deployment -->
        <SelfContained>false</SelfContained>
        <_IsPortable>true</_IsPortable>
    </PropertyGroup>
</Project>
